@use "./variables" as *;

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: $font-primary;
    margin: 1.5rem;
}