@use "./variables" as *;

.game__box {
    border: 1px solid red;
    background-color: $color-background;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // visibility: hidden;

    &__icon{
        width: 97%;
        height: 97%;
    }
}

.click {
    background-color: $color-background-click;
}

.number {
    font-size: 1rem;
    font-family: $font-primary;
    // color: $color-background;

    &--one {
        color: $color-one;
    }

    &--two {
        color: $color-two;
    }

    &--three {
        color: $color-three;
    }

    &--four {
        color: $color-four;
    }

    &--five {
        color: $color-five;
    }

    &--six {
        color: $color-six;
    }

    &--seven {
        color: $color-seven;
    }

    &--eight {
        color: $color-eight;
    }
}