@use "./buttons";

* {
    margin: 0;
    padding: 0;
}

.information {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}