@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$font-primary: "Press Start 2P", sans-serif;


$color-one: red;
$color-two: orange;
$color-three: yellow;
$color-four: green;
$color-five: blue;
$color-six: indigo;
$color-seven: violet;
$color-eight: pink;

$color-background: #6D5C80;
$color-background-click: #F9B38F;
