@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$font-primary: "Press Start 2P", sans-serif;


$color-one: #c780e8;
$color-two: #9d94ff;
$color-three: #59adf6;
$color-four: #08cad1;
$color-five: #42d6a4;
$color-six: #f8f38d;
$color-seven: #ffb480;
$color-eight: #ff6961;

$color-background: #6D5C80;
$color-background-click: #F9B38F;
